@mixin button-default($bg-colour, $bg-colour--hover, $bg-colour--active, $text-colour, $text-colour--hover: $text-colour) {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  text-decoration: none;
  font-family: $primary-font;
  font-weight: 500;
  font-size: rem(16px);
  background-color: $bg-colour;
  border: 2px solid transparent;
  color: $text-colour;
  border-radius: rem(100px);
  text-align: center;
  padding: rem(5px) rem(32px);
  width: 100%;
  box-sizing: border-box;
  transition-timing-function: $transition-easing;
  transition-duration: $transition-timing-fast;
  transition-property: background-color, border-color, color;
  @include breakpoint(tablet) {
    width: auto;
    font-size: rem($em-base);
    padding-top: 11px;
    padding-bottom: 11px;
  }
  &:hover, &:focus {
    background-color: $bg-colour--hover;
    color: $text-colour--hover;
  }
  &:active {
    background-color: $bg-colour--active;
  }
  &:disabled {
    background-color: #c3c3c3;
    border: 0;
  }
}

@mixin button-standard() {
  @include button-default($primary_1, $primary_2, $primary_2, $white);
}

@mixin button-invert() {
  @include button-default(transparent, $primary_2, $primary_2, $primary_1);
  border-color: $primary_1;
  &:focus, &:hover {
    color: $white;
    border-color: $primary_2;
  }
  &[rel~='external']::after {
    background-image: ui-kit-icon("external-link--aqua.svg") !important;
  }
  &[rel~='external']:hover::after {
    background-image: url(../images/svg/external-link--white.svg) !important;
  }
}

@mixin button-invert-dark() {
  @include button-default($primary_1, $primary_2, $primary_2, $white);
  @include breakpoint(tablet) {
    color: $primary_1;
    border-color: $primary_1;
    background-color: transparent;
  }
  &:focus, &:hover {
    border-color: $primary_2;
    background-color: $primary_2;
    @include breakpoint(tablet) {
      color: $white;
      border-color: $primary_2;
      background-color: $primary_2;
    }
  }
}

@mixin button-invert-white() {
  @include button-default(transparent, $primary_2, $primary_2, $white);
  border-color: $white;
  background-color: $white;
  color: $primary_1;
  &[rel~='external']::after {
    @include ui-kit-external-primary;
  }
  @include breakpoint(tablet) {
    color: $white;
    background-color: transparent;
    &[rel~='external']::after {
      @include ui-kit-external-light;
    }
    &[rel~='external']:hover::after {
      @include ui-kit-external-primary;
    }
  }
  &:focus, &:hover {
    background-color: transparent;
    color: $white;
    border-color: $white;
    @include breakpoint(tablet) {
      background-color: $white;
      color: $primary_1;
    }
  }
}

@mixin button-disabled() {
  display: inline-block;
  background-color: #e1ddd8;
  color: #979797;
  &[rel~='external']::after {
    display: none;
  }
}

@mixin button-tag() {
  border: 1px solid #979797;
  border-radius: rem(18px);
  padding: rem(6px) rem(18px);
  font-size: rem(16px);
  color: $text-dark-grey;
  text-decoration: none;
  transition-timing-function: $transition-easing;
  transition-duration: $transition-timing-fast;
  transition-property: background-color, border-color, color;
  &:hover, &:focus {
    background-color: $text-dark-grey;
    border-color: $text-dark-grey;
    color: $white;
  }
}
